* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    @extend .flexBox;
    justify-content: space-around;
    position: relative;
    width: 100vw;
    height: 100vh;
    button {
        position: absolute;
        width: 3rem;
        height: 3rem;
    }
    
    #prev {
        left: 2rem;
    }

    #next {
        right: 2rem;
    }
    .slider {
        @extend .flexBox;
        position: absolute;
        height: 50vh;
        width: 50vw;
        border: solid red 1px;
        .slider--elem {
            @extend .flexBox;
            position: absolute;
            height: auto;
            width: 100%;
            display: none;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }
        // .slider--elem1 {

        //     // background-color: lightgreen;
        // }
        // .slider--elem2 {
        //     // background-color: lightblue;
        // }
        // .slider--elem3 {
        //     // background-color: lightsalmon;
        // }
        // .slider--elem4 {
        //     // background-color: lightpink;
        // }
    }
}

.fade--out {
    animation: fadeOut 0.3s forwards;
    z-index: 2;
    @keyframes fadeOut { 
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
}