* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    button {
        position: absolute;
        top: 50%;
        width: 3rem;
        height: 3rem;
    }
    #prev {
        left: 2rem;
    }
    
    #next {
        right: 2rem;
    }
    .slider {
        // display: flex;
        position: absolute;
        top: 50%;
        right: 50%;
        height: 17rem;
        width: 17rem;
        border: solid red 1px;
        overflow: hidden;
        .elem {
            height: 15rem;
            width: 15rem;
            display: none;
        }
        .elem1 {

            background-color: lightgreen;
        }
        .elem2 {
            background-color: lightblue;
        }
        .elem3 {
            background-color: lightcoral;
        }
        .elem4 {
            background-color: lightpink;
        }
        .elem5 {
            background-color: lightseagreen;
        }
    }
}

